/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}


/* reagole header */

header{
    background-color: rgb(173, 216, 230);
}

#main-nav{
    height: 80px;
    margin:  0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-button{
    background-color: rgb(218, 165, 32);
    border: dashed 2px;
    padding: 10px;
    width: 25%;
}

#main-nav ul{ 
    list-style-type: none;
    width: 50%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* regole main */

/* SEZIONE 1 */
#intestazione{
    /* DEBUG */
    background-color: rgb(0, 0, 98);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-square{
    width: 800px;
    height: 300px;
    background-color: rgb(249, 88, 201);
    border: 1px dashed black;
}

/* SEZIONE 2 */
.white-section{
    /* DEBUG */
    background-color: white;
    min-height: 400px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-square{
    height: 300px;
    width: 800px;
    background-color: rgb(46, 234, 234);
    border: 1px dashed black;
}

.rose-square{
    height: 300px;
    width: 800px;
    background-color: pink;
    border: 1px dashed black;
    height: 300px;
}
/* Sezione 3 */
.gray-section{
    /* DEBUG */
    background-color: lightgray;
    min-height: 400px;
    height: 15%;
}

.black-section{
    /* DEBUG */
    background-color: black;
    min-height: 400px;
    height: 15%;
}

/* Regole footer */
footer{
    background-color: black;
    min-height: 10px;
}