/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}


/* reagole header */

header{
    background-color: rgb(173, 216, 230);
}

#main-nav{
    height: 80px;
    margin:  0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-button{
    background-color: rgb(218, 165, 32);
    border: dashed 2px;
    padding: 10px;
    width: 25%;
}

#main-nav ul{ 
    list-style-type: none;
    padding: 10 80px;
    width: 50%;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

/* regole main */

#intestazione{
    /* DEBUG */
    background-color: rgb(0, 0, 42);
    height: 300px;
}

.pink-square{
    width: 600px;
    height: 200px;
    background-color: rgb(249, 88, 201);
    margin: auto;
    border: 1px dashed black;
}

.white-section{
    /* DEBUG */
    background-color: white;
    min-height: 100px;
    height: 15%;
}

.gray-section{
    /* DEBUG */
    background-color: lightgray;
    min-height: 100px;
    height: 15%;
}

.black-section{
    /* DEBUG */
    background-color: black;
    min-height: 100px;
    height: 15%;
}

/* Regole footer */
footer{
    background-color: black;
    min-height: 50px;
}